@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
/*Global CSS*/
:root
{
    --main-color: #efefef;
    --sec-color: #0088cc;
    --face-color: #1877f2;
    --twi-color: #1da1f2;
    --yt-color: #ff0000;
    --inst-color: #c32aa3;
    --whats-color: #25d366;
    --google-color: #ea4335;
    --main-linear: linear-gradient(25deg, var(--main-color), var(--sec-color), var(--main-color), var(--sec-color));
    --main-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    --main-font: 'Cairo', sans-serif;
}
a {
    display: inline-flex;
    text-decoration: none !important;
  }
  a:hover {
    text-decoration: none !important;
  }
  a:focus {
    outline: none;
    border: none;
  }
html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    max-height: 100%;
}
/* Start navigation bar */
.navbar {
    height: 5rem;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #777;
    transition: all 0.1s;
}

.navbar .navbar-brand {
    width: 3rem;
}

.navbar .navbar-toggler {
    border: none;
}

.navbar .nav-toggle {
    background: var(--sec-color);
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    /*padding: 0.5rem 0.7rem;*/
    font-size: 1.3rem;
    border-radius: 0.3rem;
    transition: all 0.3s;
    

}

.navbar .nav-toggle:hover {
    background: rgba(0, 136, 204, 0.9);
}

.navbar .navbar-collapse {
    justify-content: flex-end !important;
   
}

.navbar .navbar-nav .nav-item .nav-link {
    display: flex;
    min-height: 5rem;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s;
  
   
}

.nav-item .nav-link .nav-icon {
    font-size: 1rem;
    color: #fff;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    background: var(--sec-color) ;
}

.nav-item .dropdown .dropdown-menu {
    margin-top: 0;
    background: #fff !important;
    box-shadow: var(--main-shadow);
    border-top: 5px solid var(--sec-color);
    border-radius: initial !important;
    animation: animateDrop 1s ease-in-out;
}

@keyframes animateDrop {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.nav-item .dropdown .dropdown-menu .dropdown-item {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    padding: 0.7rem 0.5rem;
    color: #777;
    font-size: 1rem;
    border-bottom: 1px solid #f4f4f4;
    transition: all 0.5s;
    cursor: pointer;
}

.nav-item .dropdown .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
   
}

.nav-item .dropdown .dropdown-menu .dropdown-item .drop-icon {
    color: var(--sec-color);
}

.nav-item .dropdown .dropdown-menu .dropdown-item .text {
    margin: 0 0.8rem 0 1.2rem;
   
}

.nav-item .dropdown .dropdown-menu .dropdown-item:hover {
    background: #f4f4f4;
  
}

.navbar .price {
    position: relative;
    margin-right: 1.5rem;
    color: #333;
    width: 4.5rem;
}

.navbar .price .price-link {
    border-radius: 0;
    position: absolute;
    top: 0;
    height: 90px;
    width: 100%;
    padding-top: 24px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.125rem;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px -1px 0 white;
    color: #111;
    background: #e90;
    background: linear-gradient(to bottom, #e90 1%, #e6d6a2 98%) repeat scroll 0 0 transparent;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
    z-index: 2;
   
    
}

.navbar .price::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    right: -7px;
    bottom: -7px;
    border: 7px solid transparent;
    border-right-color: #850;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 3;
}

.scroll-active {
    box-shadow: var(--main-shadow);
    background: #000;
    border-bottom: initial;

}

/*End navigation bar*/

/*Start slider*/
header {
    min-height: 100vh;
    background: url('../assets/images/bg-header.jpg') 100% 100% / cover no-repeat;
}

.carousel-item {
    height: 100vh;
}

.carousel-item .row {
    height: 100vh;
    align-items: center;
}

.carousel-item .slide-image {
    width: 18rem
}

.carousel-item .slide-text {
    color: #fff;
    padding: 0.5rem 0;
}

.carousel-item .slide-text h2 {
    font-weight: 700
}

.carousel-control-prev,
.carousel-control-next {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    display: inline-flex;
    height: 3rem;
    width: 3rem;
    border-radius: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    right: 1rem;
  
}

.carousel-control-next {
    left: 1rem;
}
/*End Slider*/
/*Start slide bottom*/
.content-slider {
    margin-top: -3rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    
}

.content-slider .row {
    height: 3rem;
    align-items: center;
}

.content-slider .title-slide-bottom {
    color: var(--sec-color);
    font-weight: 600;
}


@media screen and (max-width: 991px){
    .navbar .navbar-nav {
        background: #000;
        padding: 0 .6rem;
}
.navbar .price .price-link , .navbar .price::after{
    z-index: 0;
    display: none;
}
}

/*End slide bottom*/
/*Start offers*/
.offers {
    padding: 6rem 0 2rem 0;
    margin: 0;
    border-top: 0.3rem solid rgba(0, 0, 0, 0.1);
    background: none;
  }
  .offers h2 {
    font-weight: 600;
    margin: 0 0 3rem 0;
    color: #3a3a3a;
    text-align: right;
  }
  .offers .card-offer {
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.2rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    transition: all 0.2s linear;
  }
  .offers .card-offer .box-img {
    position: relative;
    overflow: hidden;
    height: 15rem;
    border-radius: 0.3rem;
    transition: all 0.2s linear;
  }
  .offers .card-offer .box-img img {
    border-radius: 0.3rem;
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: all 0.2s linear;
  }
  .offers .card-offer .content {
    border-radius: 0.3rem;
  }
  .offers .card-offer .content .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 3rem;
    height: 3rem;
    background: #0088cc;
    color: #fff;
    font-size: 1.2rem;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    border-radius: 0 0 1rem 0;
    transform: translate(-3rem, -3rem);
    transition: all 0.2s linear;
  }
  .offers .card-offer .content .icon span {
    transform: rotate(90deg);
  }
  .offers .card-offer .content .box-text {
    position: absolute;
    bottom: 2.3rem;
  }
  .offers .card-offer .content .box-text .title {
    margin: 0;
    padding: 1.5rem 0.5rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    transition: all 0.2s linear;
  }
  .offers .card-offer .content .box-text .btn-link {
    position: absolute;
    bottom: -0.8rem;
    right: 0.5rem;
    font-size: 0.9rem;
    padding: 0.3rem 0.7rem;
  }
  .offers .card-offer:hover .box-img .global-link {
    background: rgba(0, 0, 0, 0.5);
  }
  .offers .card-offer:hover .box-img img {
    transform: scale(1.1);
  }
  .offers .card-offer:hover .content .icon {
    transform: translate(0, 0);
  }
  .offers .card-offer:hover .box-text .title {
    background: black;
  }
  
  /*End offers*/
  /* start product */
  a.btn-link {
    font-size: 1.5rem;
    padding: 0.5rem 3rem;
    background: var(--sec-color);
    color: #fff;
    border-radius: 0.3rem;
    opacity: 0.9;
    transition: 0.5s;
  }
  a.btn-link:hover {
    color: #fff;
    opacity: 1;
    box-shadow: var(--main-shadow);
  }
  
  .global-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  hr {
    background: rgba(0, 0, 0, 0.1);
    opacity: 0.4;
  }
  
  .products {
    padding: 6rem 0 2rem 0;
    margin: 0;
    border-top: 0.3rem solid #0077b3;
    background: #0088cc;
  }
  .products .sub-title {
    font-weight: 600;
    margin: 0 0 3rem 0;
    color: #f4f4f4;
    text-align: right;
  }
  .products .text-product {
    color: #f4f4f4;
  }
  .products .text-product .text, .products .text-product .title {
    line-height: 1.6;
  }
  .products .text-product .title {
    font-weight: 600;
  }
  .products .counter {
    text-align: center;
    padding: 1rem 0.5rem;
    margin: 0.7rem 0;
    border-right: 3px solid #0077b3;
    color: #f4f4f4;
  }
  .products .counter .count-number {
    font-weight: 600;
    margin: 0.5rem 0;
  }
  .products .counter .count-text {
    font-weight: 600;
  }
  @media screen and (max-width: 991px) {
    .products .counter {
      border-right: none;
    }
  }
  /* end product */
  /*Start footer*/
footer {
    padding: 6rem 0 2rem 0;
    margin-top: 3rem;
    border-top: 0.3rem solid #0e0e0e;
    background: #0e0e0e;
    position: relative;
    color: #fff;
  }
  footer .footer-ribbon {
    position: absolute;
    top: -1.3rem;
    padding: 0.7rem 1.3rem;
    background: #0088cc;
  }
  footer .footer-ribbon::after {
    content: "";
    position: absolute;
    right: -0.6rem;
    top: 0;
    border-left: 0.6rem solid #005580;
    border-top: 1rem solid transparent;
    display: block;
    height: 0;
    width: 7px;
  }
  footer .footer-ribbon .title-ribbon {
    margin: 0;
    color: #fff;
    font-weight: 600;
  }
  footer .title {
    color: #0088cc;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  footer .info {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
  }
  footer .info .link {
    color: #fff;
    margin: 0.3rem 0;
  }
  footer .info .icon {
    margin-left: 0.7rem;
    line-height: 1.6;
  }
  footer .phones {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  footer p {
    text-align: justify;
    color: #fff;
    line-height: 1.6;
  }
  
  .footer-bottom {
    background: #191919;
    color: #fff;
    text-align: center;
  }
  .footer-bottom .social .icon {
    font-size: 1.5rem;
    margin: 0 0.5rem;
    color: #fff;
    text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s linear;
  }
  .footer-bottom .social .icon:hover:nth-child(1) {
    color: #1877f2;
  }
  .footer-bottom .social .icon:hover:nth-child(2) {
    color: #1da1f2;
  }
  .footer-bottom .social .icon:hover:nth-child(3) {
    color: #25d366;
  }
  .footer-bottom .social .icon:hover:nth-child(4) {
    color: #ff0000;
  }
  
  /*End footer*/
